{% extends 'base_generic.html' %}
{% load staticfiles %}

{% block content %}
		<br/>
		<p>Create new book</p>
	    <form method="POST">
	      {% csrf_token %}
	      <table>
		      {{ form }}
		      <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
		      {{ form.media }}
	  	  </table>
	  	  <button type="submit">Create Book</button>
	  	</form>
	  	<br/>
		<p>2 wersja</p>
		<form method="post">
		{% csrf_token %}

		{{ form.non_field_errors }}

		{% for hidden_field in form.hidden_fields %}
			{{ hidden_field.errors }}
			{{ hidden_field }}
		{% endfor %}

		<table>
			{% for field in form.visible_fields %}
				<tr>
				    <th>{{ field.label_tag }}</th>
				    <td>
				        {{ field.errors }}
				        {{ field }}
				        <br/>{{ field.help_text }}
				    </td>
				</tr>
			{% endfor %}
		</table>
		<button type="submit">Create Book</button>
		</form>
		<br/>
		<p>2 wersja</p>
	    <form method="POST">
	    <table>
	      <p>{{ form.title.label }} {{ form.title }}</p>
	      <p>{{ form.author.label }} {{ form.author }} </p>
	      <p>{{ form.summary.label }} {{ form.summary }}</p>
	      <p>{{ form.tag.label }} {{ form.tag }}</p>
	      <p>{{ form.genre.label }} {{ form.genre }}</p>
	      <p>{{ form.language.label }} {{ form.language }}</p>
	      <p>{{ form.book_format.label }} {{ form.book_format }}</p>
	      <p>{{ form.read_date.label }} {{ form.read_date }}</p>
	      <button type="submit">Create Book</button>
	    </table>
	    </form>

{% endblock %} 